.logo{
    height:3.25rem;
    margin-left:2rem;
}
.search{
    flex:0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input{
font-family: inherit;
font-size:inherit;
width:90%;
border-radius: 100px;
margin-right: -3.25rem;
color: inherit;
padding:.7rem 2rem;
background-color: var(--color-Grey-light-2);
border: none;
transition:all .2s;
&:focus{
    outline:none;
    width:100%;
    background-color: var(--color-Grey-light-3);

}
&::-webkit-input-placeholder{
    font-weight: 100;
    color:var(--color-Grey-light-4)
}
    }
    &:input:focus+&__button{
background-color: var(--color-Grey-light-3);
    }
    &__button{
border: none;
background-color: var(--color-Grey-light-2);
&:focus{
    outline: none;
}
&:active{
    transform: translateY(2px);
}
    }
    &__icon{
height:2rem;
width:2rem;
fill:var(--color-Grey-dark-3);
    }
}
.user-nav{
    align-self:stretch;
    display: flex;
    align-items: center;
    &>*{
        height:100%;

        padding:0 2rem;
        cursor: pointer;
        display: flex;
align-items: center;
    }
    &>*:hover{
        background-color: var(--color-Grey-light-2);
    }
    &__icon-box{
        position: relative;

    }
    &__icon{
height:2.25rem;
width:2.25rem;
fill: var(--color-Grey-dark-2);
    }
    &__notification{
font-size: .8rem;
top:1.5rem;
right:1.1rem;
height:1.75rem;
width:1.75rem;
color: #fff;
display: flex;
justify-content:center;
align-items: center;
position:absolute;
background-color: var(--color-primary);
border-radius:50%;
    }    
    &__user-photo{
height:2.25rem;
margin-right: 1rem;
border-radius: 50%;
    }
}
.side-nav{
    &__item{

    }
    &__link{

    }
    &__icon{
width:1.75rem;
height:1.75rem;
    }
}
.legal{
    font-size: 1.2rem;
    text-align: center;
    padding:2.5rem;
    color:var(--color-Grey-light-4)
}