.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-Grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
}
.header {
font-size:1.4rem;
  height: 7rem;
  background-color: #fff;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:var(--line);
}
.content {
  display: flex;
}
.sidebar {
  background-color: var(--color-Grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content:space-between
}
.hotel-view {
  flex: 1;
 
}
.detail{
display: flex;
padding:4.5rem;
border-bottom: var(--line);
background-color:var(--color-Grey-light-1)
}
.description{
background-color: #fff;
padding: 3rem;
font-size: 1.4rem;
flex: 0 0 60%;
box-shadow:var(--shadow-light);
margin-right: 4.5rem;
}
.user-reviews{
background-color:yellowgreen;
flex: 1;
}